
#header {
	padding: 20px;
}

#title {
	float: left;
	display: inline;
}

#title h1 {
	font-size: 140%;
	font-weight: bold;
}

#title h2 {

}

#settings {
	float: right;
	display: inline;
	width: 250px;
}
